@model GLAA.ViewModels.LicenceApplication.AlternativeBusinessRepresentativeViewModel
@{
    var isEditable = !(bool)ViewData["IsSubmitted"];
}
<table class="check-your-answers">
    <thead>
        <tr>
            <th colspan="@(isEditable ? 3 : 2)">Alternative Business Representative</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.LabelFor(m => m.FullName.FullName)</td>
            <td>@Html.DisplayFor(m => m.FullName.FullName)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 1 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.FullName.FullName)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.AlternativeName.AlternativeName)</td>
            <td>@Html.DisplayFor(m => m.AlternativeName)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 2 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.AlternativeName.AlternativeName)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.DateOfBirth.DateOfBirth)</td>
            <td>@Html.DisplayFor(m => m.DateOfBirth.DateOfBirth)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 3 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DateOfBirth.DateOfBirth)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BirthDetailsViewModel.TownOfBirthViewModel.TownOfBirth)</td>
            <td>@Html.DisplayFor(m => m.BirthDetailsViewModel.TownOfBirthViewModel.TownOfBirth)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 4 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BirthDetailsViewModel.TownOfBirthViewModel.TownOfBirth)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BirthDetailsViewModel.CountryOfBirthViewModel.CountryOfBirthId)</td>
            <td>@(Model.Countries.SingleOrDefault(c => int.Parse(c.Value) == Model.BirthDetailsViewModel.CountryOfBirthViewModel.CountryOfBirthId)?.Text ?? string.Empty)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 4 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BirthDetailsViewModel.CountryOfBirthViewModel.CountryOfBirthId)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BirthDetailsViewModel.NationalInsuranceNumberViewModel.NationalInsuranceNumber)</td>
            <td>@Html.DisplayFor(m => m.BirthDetailsViewModel.NationalInsuranceNumberViewModel.NationalInsuranceNumber)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 4 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BirthDetailsViewModel.NationalInsuranceNumberViewModel.NationalInsuranceNumber)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BirthDetailsViewModel.SocialSecurityNumberViewModel.SocialSecurityNumber)</td>
            <td>@Html.DisplayFor(m => m.BirthDetailsViewModel.SocialSecurityNumberViewModel.SocialSecurityNumber)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 4 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BirthDetailsViewModel.NationalInsuranceNumberViewModel.NationalInsuranceNumber)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.JobTitle.JobTitle)</td>
            <td>@Html.DisplayFor(m => m.JobTitle.JobTitle)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 5 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.JobTitle.JobTitle)</span></a></td>
            }
        </tr>
        <tr>
            <td>Address</td>
            <td>@Html.DisplayFor(m => m.Address)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 6 })">Change<span class="visually-hidden"> Address</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</td>
            <td>@Html.DisplayFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 7 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BusinessExtension.BusinessExtension)</td>
            <td>@Html.DisplayFor(m => m.BusinessExtension.BusinessExtension)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 8 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessExtension.BusinessExtension)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.PersonalMobileNumber.PersonalMobileNumber)</td>
            <td>@Html.DisplayFor(m => m.PersonalMobileNumber.PersonalMobileNumber)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 9 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.PersonalMobileNumber.PersonalMobileNumber)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.PersonalEmailAddress.PersonalEmailAddress)</td>
            <td>@Html.DisplayFor(m => m.PersonalEmailAddress.PersonalEmailAddress)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 10 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.PersonalEmailAddress.PersonalEmailAddress)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Nationality.Nationality)</td>
            <td>@Html.DisplayFor(m => m.Nationality.Nationality)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 11 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.Nationality.Nationality)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.PassportViewModel.HasPassport)</td>
            <td>@Html.DisplayFor(m => m.PassportViewModel)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 12 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.PassportViewModel.HasPassport)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.RightToWorkViewModel.RequiresVisa)</td>
            <td>@Html.DisplayFor(m => m.RightToWorkViewModel)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 13 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.RightToWorkViewModel.RequiresVisa)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.UndischargedBankruptViewModel.IsUndischargedBankrupt)</td>
            <td>@Html.DisplayFor(m => m.UndischargedBankruptViewModel)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 14 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.UndischargedBankruptViewModel.IsUndischargedBankrupt)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</td>
            <td>@Html.DisplayFor(m => m.DisqualifiedDirectorViewModel)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 15 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.RestraintOrdersViewModel.HasRestraintOrders)</td>
            <td>@Html.DisplayFor(m => m.RestraintOrdersViewModel.HasRestraintOrders, "NullableBoolean")</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 16 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</span></a></td>
            }
        </tr>
        @if (Model.RestraintOrdersViewModel.CanView(Model))
        {
            <tr>
                <td>@Html.LabelFor(m => m.RestraintOrdersViewModel.RestraintOrders)</td>
                <td>@Html.DisplayFor(m => m.RestraintOrdersViewModel)</td>
                @if (isEditable)
                {
                    <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 17 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</span></a></td>
                }
            </tr>
        }
        <tr>
            <td>@Html.LabelFor(m => m.UnspentConvictionsViewModel.HasUnspentConvictions)</td>
            <td>@Html.DisplayFor(m => m.UnspentConvictionsViewModel.HasUnspentConvictions, "NullableBoolean")</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 18 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</span></a></td>
            }
        </tr>
        @if (Model.UnspentConvictionsViewModel.CanView(Model))
        {
            <tr>
                <td>@Html.LabelFor(m => m.UnspentConvictionsViewModel.UnspentConvictions)</td>
                <td>@Html.DisplayFor(m => m.UnspentConvictionsViewModel)</td>
                @if (isEditable)
                {
                    <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 19 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</span></a></td>
                }
            </tr>
        }
        <tr>
            <td>@Html.LabelFor(m => m.OffencesAwaitingTrialViewModel.HasOffencesAwaitingTrial)</td>
            <td>@Html.DisplayFor(m => m.OffencesAwaitingTrialViewModel.HasOffencesAwaitingTrial, "NullableBoolean")</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 20 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</span></a></td>
            }
        </tr>
        @if (Model.OffencesAwaitingTrialViewModel.CanView(Model))
        {
            <tr>
                <td>@Html.LabelFor(m => m.OffencesAwaitingTrialViewModel.OffencesAwaitingTrial)</td>
                <td>@Html.DisplayFor(m => m.OffencesAwaitingTrialViewModel)</td>
                @if (isEditable)
                {
                    <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 21 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</span></a></td>
                }
            </tr>
        }
        <tr>
            <td>@Html.LabelFor(m => m.PreviousLicenceViewModel.HasPreviouslyHeldLicence)</td>
            <td>@Html.DisplayFor(m => m.PreviousLicenceViewModel)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "AlternativeBusinessRepresentative", new { id = 22 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirectorViewModel.IsDisqualifiedDirector)</span></a></td>
            }
        </tr>
    </tbody>
</table>
