@model GLAA.ViewModels.LicenceApplication.OrganisationDetailsViewModel

@{
    var isEditable = !Model.IsSubmitted;
}

<table class="check-your-answers">
    <thead>
        <tr>
            <th colspan="@(isEditable ? 3 : 2)">Business Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.LabelFor(m => m.BusinessName.BusinessName)</td>
            <td class="@Model.BusinessName?.BusinessName">@Html.DisplayFor(m => m.BusinessName.BusinessName, new { @class = "org" })</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 2 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessName.BusinessName)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BusinessName.TradingName)</td>
            <td class="@Model.BusinessName?.TradingName">@Html.DisplayFor(m => m.BusinessName.TradingName, new { @class = "org" })</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 2 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessName.BusinessName)</span></a></td>
            }
        </tr>
        <tr>
            <td>Previous Trading Names</td>
            <td class="@Model.BusinessName?.TradingName">@Html.DisplayFor(m => m.BusinessName.PreviousTradingNames, "PreviousTradingNamesViewModel")</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 2 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessName.BusinessName)</span></a></td>
            }
        </tr>
        <tr>
            <td>Address</td>
            <td>@Html.DisplayFor(m => m.Address)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 3 })">Change<span class="visually-hidden"> Address</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</td>
            <td>@Html.DisplayFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 4 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BusinessMobileNumber.BusinessMobileNumber)</td>
            <td>@Html.DisplayFor(m => m.BusinessMobileNumber.BusinessMobileNumber)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 5 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessMobileNumber.BusinessMobileNumber)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BusinessEmailAddress.BusinessEmailAddress)</td>
            <td>@Html.DisplayFor(m => m.BusinessEmailAddress.BusinessEmailAddress)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 6 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessEmailAddress.BusinessEmailAddress)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BusinessWebsite.BusinessWebsite)</td>
            <td>@Html.DisplayFor(m => m.BusinessWebsite.BusinessWebsite)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 7 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessWebsite.BusinessWebsite)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.CommunicationPreference.CommunicationPreference)</td>
            <td>@Html.DisplayFor(m => m.CommunicationPreference.CommunicationPreference)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 8 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.CommunicationPreference.CommunicationPreference)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.LegalStatus.LegalStatus)</td>
            <td>@Html.DisplayFor(m => m.LegalStatus)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 9 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.LegalStatus.LegalStatus)</span></a></td>
            }
        </tr>
        @if (Model.LegalStatus.LegalStatus == GLAA.Domain.Models.LegalStatusEnum.RegisteredCompany)
        {
        <tr>
            <td>Companies House Registration</td>
            <td>@Html.DisplayFor(m => m.BusinessCredentials.CompaniesHouseRegistrationViewModel)</td>
            @if (isEditable)
            {
                <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 10 })">Change<span class="visually-hidden"> Companies House Registration</span></a></td>
            }
        </tr>
        }
        <tr>
            <td>PAYE Status</td>
            <td>@Html.DisplayFor(m => m.BusinessCredentials.PAYEStatusViewModel)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 10 })">Change<span class="visually-hidden"> PAYE Status</span></a></td>
            }
        </tr>
        <tr>
            <td>VAT Status</td>
            <td>@Html.DisplayFor(m => m.BusinessCredentials.VATStatusViewModel)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 10 })">Change<span class="visually-hidden"> VAT Status</span></a></td>
            }
        </tr>
        <tr>
            <td>Tax Reference Number</td>
            <td>@Html.DisplayFor(m => m.BusinessCredentials.TaxReferenceViewModel.TaxReferenceNumber)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 10 })">Change<span class="visually-hidden"> Tax Reference Number</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.OperatingIndustries.OperatingIndustries)</td>
            <td>@Html.DisplayFor(m => m.OperatingIndustries.OperatingIndustries, "ListCheckboxListItem")</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 11 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.OperatingIndustries.OperatingIndustries)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Turnover.TurnoverBand)</td>
            <td>@Html.DisplayFor(m => m.Turnover)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 12 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.Turnover.TurnoverBand)</span></a></td>
            }
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.OperatingCountries.OperatingCountries)</td>
            <td>@Html.DisplayFor(m => m.OperatingCountries.OperatingCountries, "ListCheckboxListItem")</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("Part", "OrganisationDetails", new { id = 13 })">Change<span class="visually-hidden"> @Html.LabelFor(m => m.OperatingCountries.OperatingCountries)</span></a></td>
            }
        </tr>
    </tbody>
</table>
