@model GLAA.ViewModels.LicenceApplication.PrincipalAuthorityViewModel

@{
    var isEditable = !Model.IsSubmitted;
}

<table class="check-your-answers">
    <thead>
        <tr>
            <th colspan="@(isEditable ? 3 : 2)">Principal Authority</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.IsDirector.CanView(Model))
    {
        <tr>
            <td>@Html.LabelFor(m => m.IsDirector.IsDirector)</td>
            <td>@Html.DisplayFor(m => m.IsDirector)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("IsDirector", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.IsDirector.IsDirector)</span></a></td>
            }
        </tr>
    }
    <tr>
        <td>@Html.LabelFor(m => m.FullName.FullName)</td>
        <td>@Html.DisplayFor(m => m.FullName.FullName)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("FullName", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.FullName.FullName)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AlternativeName.AlternativeName)</td>
        <td>@Html.DisplayFor(m => m.AlternativeName)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("AlternativeName", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.AlternativeName.AlternativeName)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.DateOfBirth.DateOfBirth)</td>
        <td>@Html.DisplayFor(m => m.DateOfBirth.DateOfBirth)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("DateOfBirth", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DateOfBirth.DateOfBirth)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.BirthDetails.TownOfBirthViewModel.TownOfBirth)</td>
        <td>@Html.DisplayFor(m => m.BirthDetails.TownOfBirthViewModel.TownOfBirth)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("BirthDetails", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BirthDetails.TownOfBirthViewModel.TownOfBirth)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.BirthDetails.CountryOfBirthViewModel.CountryOfBirthId)</td>
        <td>@(Model.Countries.SingleOrDefault(c => int.Parse(c.Value) == Model.BirthDetails.CountryOfBirthViewModel.CountryOfBirthId)?.Text ?? string.Empty)</td>
        @if (isEditable)
        {
            <td class="change-answer"><a href="@Url.Action("BirthDetails", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BirthDetails.CountryOfBirthViewModel.CountryOfBirthId)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.BirthDetails.NationalInsuranceNumberViewModel.NationalInsuranceNumber)</td>
        <td>@Html.DisplayFor(m => m.BirthDetails.NationalInsuranceNumberViewModel.NationalInsuranceNumber)</td>
        @if (isEditable)
        {
            <td class="change-answer"><a href="@Url.Action("BirthDetails", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BirthDetails.NationalInsuranceNumberViewModel.NationalInsuranceNumber)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.BirthDetails.SocialSecurityNumberViewModel.SocialSecurityNumber)</td>
        <td>@Html.DisplayFor(m => m.BirthDetails.SocialSecurityNumberViewModel.SocialSecurityNumber)</td>
        @if (isEditable)
        {
            <td class="change-answer"><a href="@Url.Action("BirthDetails", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BirthDetails.SocialSecurityNumberViewModel.SocialSecurityNumber)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.JobTitle.JobTitle)</td>
        <td>@Html.DisplayFor(m => m.JobTitle.JobTitle)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("JobTitle", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.JobTitle.JobTitle)</span></a></td>
        }
    </tr>
    <tr>
        <td>Address</td>
        <td>@Html.DisplayFor(m => m.Address)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("Address", "PrincipalAuthority")">Change<span class="visually-hidden"> Address</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</td>
        <td>@Html.DisplayFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("BusinessPhoneNumber", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessPhoneNumber.BusinessPhoneNumber)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.BusinessExtension.BusinessExtension)</td>
        <td>@Html.DisplayFor(m => m.BusinessExtension.BusinessExtension)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("BusinessExtension", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.BusinessExtension.BusinessExtension)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PersonalMobileNumber.PersonalMobileNumber)</td>
        <td>@Html.DisplayFor(m => m.PersonalMobileNumber.PersonalMobileNumber)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("PersonalMobileNumber", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.PersonalMobileNumber.PersonalMobileNumber)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PersonalEmailAddress.PersonalEmailAddress)</td>
        <td>@Html.DisplayFor(m => m.PersonalEmailAddress.PersonalEmailAddress)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("PersonalEmailAddress", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.PersonalEmailAddress.PersonalEmailAddress)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Nationality.Nationality)</td>
        <td>@Html.DisplayFor(m => m.Nationality.Nationality)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("Nationality", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.Nationality.Nationality)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Passport.HasPassport)</td>
        <td>@Html.DisplayFor(m => m.Passport)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("Passport", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.Passport.HasPassport)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PrincipalAuthorityRightToWork.RightToWorkInUk)</td>
        <td>@Html.DisplayFor(m => m.PrincipalAuthorityRightToWork)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("PrincipalAuthorityRightToWork", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.PrincipalAuthorityRightToWork.RightToWorkInUk)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.UndischargedBankrupt.IsUndischargedBankrupt)</td>
        <td>@Html.DisplayFor(m => m.UndischargedBankrupt)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("UndischargedBankrupt", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.UndischargedBankrupt.IsUndischargedBankrupt)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</td>
        <td>@Html.DisplayFor(m => m.DisqualifiedDirector)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("DisqualifiedDirector", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.RestraintOrders.HasRestraintOrders)</td>
        <td>@Html.DisplayFor(m => m.RestraintOrders.HasRestraintOrders, "NullableBoolean")</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("RestraintOrders", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</span></a></td>
        }
    </tr>
    @if (Model.RestraintOrders.CanView(Model))
    {
        <tr>
            <td>@Html.LabelFor(m => m.RestraintOrders.RestraintOrders)</td>
            <td>@Html.DisplayFor(m => m.RestraintOrders)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("ReviewRestraintOrders", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</span></a></td>
            }
        </tr>
    }
    <tr>
        <td>@Html.LabelFor(m => m.UnspentConvictions.HasUnspentConvictions)</td>
        <td>@Html.DisplayFor(m => m.UnspentConvictions.HasUnspentConvictions, "NullableBoolean")</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("UnspentConvictions", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</span></a></td>
        }
    </tr>
    @if (Model.UnspentConvictions.CanView(Model))
    {
        <tr>
            <td>@Html.LabelFor(m => m.UnspentConvictions.UnspentConvictions)</td>
            <td>@Html.DisplayFor(m => m.UnspentConvictions)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("ReviewUnspentConvictions", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</span></a></td>
            }
        </tr>
    }
    <tr>
        <td>@Html.LabelFor(m => m.OffencesAwaitingTrial.HasOffencesAwaitingTrial)</td>
        <td>@Html.DisplayFor(m => m.OffencesAwaitingTrial.HasOffencesAwaitingTrial, "NullableBoolean")</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("OffencesAwaitingTrial", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</span></a></td>
        }
    </tr>
    @if (Model.OffencesAwaitingTrial.CanView(Model))
    {
        <tr>
            <td>@Html.LabelFor(m => m.OffencesAwaitingTrial.OffencesAwaitingTrial)</td>
            <td>@Html.DisplayFor(m => m.OffencesAwaitingTrial)</td>
            @if (isEditable)
            {
              <td class="change-answer"><a href="@Url.Action("ReviewOffencesAwaitingTrial", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</span></a></td>
            }
        </tr>
    }
    <tr>
        <td>@Html.LabelFor(m => m.PreviousLicence.HasPreviouslyHeldLicence)</td>
        <td>@Html.DisplayFor(m => m.PreviousLicence)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("PreviousLicence", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.DisqualifiedDirector.IsDisqualifiedDirector)</span></a></td>
        }
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.PreviousExperience.PreviousExperience)</td>
        <td>@Html.DisplayFor(m => m.PreviousExperience.PreviousExperience)</td>
        @if (isEditable)
        {
          <td class="change-answer"><a href="@Url.Action("PreviousExperience", "PrincipalAuthority")">Change<span class="visually-hidden"> @Html.LabelFor(m => m.PreviousExperience.PreviousExperience)</span></a></td>
        }
    </tr>
    </tbody>
</table>
