@model GLAA.ViewModels.PublicRegister.PublicRegisterLicenceDetailViewModel

@{
    ViewBag.Title = "Register Details";
}

@Html.ActionLink("< Back", "Index", "PublicRegister", new { }, new { @class = "details-back-button" })

<div>
    <div class="public-register-title-container">
        <h1 class="heading-large">@ViewBag.Title</h1>
    </div>
    <div class="public-register-timestamp">
        @DateTime.Now.Day@((DateTime.Now.Day % 10 == 1 && DateTime.Now.Day != 11) ? "st"
: (DateTime.Now.Day % 10 == 2 && DateTime.Now.Day != 12) ? "nd"
: (DateTime.Now.Day % 10 == 3 && DateTime.Now.Day != 13) ? "rd"
: "th")@DateTime.Now.ToString(" MMMM yyyy")<br />
@DateTime.Now.ToString("hh:mmtt")
</div>
</div>

@*Switch depending on if the new business flag is true or not*@
<div class="public-register @Model.MostRecentStatus.ExternalClassName">Licensed</div>

@if (Model.CanOperateAcrossUk)
{
    <div class="public-register operate-across-uk">The licence holder can operate across the UK</div>
}

<div>

    <table>
        <tbody>
            <tr>
                <td>URN</td>
                <td>@Model.ApplicationId</td>
            </tr>
            <tr>
                <td>Public Register Status</td>
                <td>Licensed</td>
            </tr>
            <tr>
                <td>Business Name</td>
                <td>@Model.BusinessName</td>
            </tr>
            <tr>
                <td>Trading Name</td>
                <td>@Model.TradingName</td>
            </tr>
            <tr>
                <td>Principle Authority</td>
                <td>
                    @foreach (var fullName in Model.PrincipalAuthorities.Select(x => x.FullName.FullName))
                    {
                        @fullName
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>Business Type</td>
                <td>@Model.BusinessType</td>
            </tr>
            <tr>
                <td>Authorised Sectors</td>
                <td>
                    @foreach (var industry in Model.OperatingIndustries.Select(x => x.Industry.Name))
                    {
                        @industry
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>Application Received</td>
                <td>@Model.ApplicationDate?.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td>Licence Commencement</td>
                <td>@Model.CommencementDate?.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>
                    @Model.Address.AddressLine1
                    @if (!string.IsNullOrWhiteSpace(Model.Address.AddressLine1))
                    {
                        <br />
                    }

                    @Model.Address.AddressLine2
                    @if (!string.IsNullOrWhiteSpace(Model.Address.AddressLine2))
                    {
                        <br />
                    }

                    @Model.Address.AddressLine3
                    @if (!string.IsNullOrWhiteSpace(Model.Address.AddressLine3))
                    {
                        <br />
                    }

                    @(Model.Address.Counties.SingleOrDefault(c => int.Parse(c.Value) == Model.Address.CountyId)?.Text ?? string.Empty)
                    @if (Model.Address.CountyId != 0)
                    {
                        <br />
                    }

                    @Model.Address.Postcode
                    @if (!string.IsNullOrWhiteSpace(Model.Address.Postcode))
                    {
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>Country</td>
                <td>@(Model.Address.Countries.SingleOrDefault(c => int.Parse(c.Value) == Model.Address.CountryId)?.Text ?? string.Empty)</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>@Model.BusinessPhoneNumber</td>
            </tr>
            <tr>
                <td>Authorised Persons or Postholders</td>
                <td>
                    @foreach (var fullName in Model.NamedIndividuals.Select(x => x.FullName.FullName))
                    {
                        @fullName
                        <br />
                    }
                    @foreach (var jobTitle in Model.NamedPosts.Select(x => x.JobTitle))
                    {
                        @jobTitle
                        <br />
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

