@{
    ViewBag.Title = "What is the legal status of your business?";
    var switchValue = "Other";
}

@model GLAA.ViewModels.LicenceApplication.LegalStatusViewModel

@Html.Partial("_BackButton", new ViewDataDictionary(ViewData) { { "section", "OrganisationDetails" }, { "actionName", "LegalStatus" } })

@using (Html.BeginForm("LegalStatus", "OrganisationDetails"))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Partial("_GdsValidationSummary")
        </div>
        <div class="column-full">
            <h1 class="heading-large">
                @ViewBag.Title
            </h1>
        </div>
        <div class="column-two-thirds">
            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="error-message">
                            <span class="field-validation-valid" data-valmsg-for="radio_list" data-valmsg-replace="true"></span>
                        </span>
                    </legend>
                    @foreach (var status in Model.AvailableLegalStatuses)
                    {
                        <div class="multiple-choice">
                            @Html.RadioButtonForEnum(x => x.LegalStatus, status.Name, Model.AvailableLegalStatuses)
                            @Html.Label(status.Name)
                        </div>

                        if (status.Name == "Other")
                        {
                            switchValue = status.Name;
                            <div class="panel panel-border-narrow js-hidden" id="other-legal-status-detail">
                                @Html.LabelWithHintFor(x => x.Other)
                                @Html.TextBoxFor(x => x.Other, new { @class = "form-control" })
                            </div>
                        }

                    }

                </fieldset>
            </div>
        </div>
    </div>
    <button type="submit" class="button">Save and continue</button>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            hiddenContent.hideContent();
            branchedQuestion.toggleBranch('.multiple-choice input', '#other-legal-status-detail', "@switchValue");
        });
    </script>
}