@model GLAA.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="grid-row">

    <div class="column-two-thirds">

        @Html.Partial("_GdsValidationSummary")

        <h2 class="heading-large">Login</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.TextFormGroupFor(m => m.Email)
                </div>
                <div class="form-group">
                    <fieldset>
                        @Html.LabelFor(x => x.Password, new { @class = "form-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </fieldset>
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Log in" class="button button-start" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="column-one-third">
        <aside class="govuk-related-items add-heading-medium js-stick-at-top-when-scrolling">
            <h2>Utilities</h2>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Forgot your password?", "ForgotPassword")</li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
